@page
@model FillableFormWebApp.Pages.Supervisor.IndexModel
@{
    ViewData["Title"] = "Supervisor";
}
<div class="d-flex flex-wrap gap-2">
    <button type="button" class="btn btn-outline-dark  accordion-toggle collapsed" 
            data-bs-toggle="collapse"
            data-bs-target="#collapseFilters">
        <i class="bi bi-funnel-fill">
            Filters
        </i>
    </button>
    <button type="submit" class="btn btn-outline-dark" form="getForm">
        <i class="bi bi-play-fill">
            Get Forms
        </i>
    </button>
</div>

<div id="collapseFilters" class="accordion-collapse card collapse my-3 w-75">
    <form id="getForm" method="get" class="p-3 d-flex flex-wrap gap-3">
        <div class="form-floating">
            <select asp-for="Input.FormTypeId" class="form-control" aria-required="true">
                <option value="">Select the Form Type</option>
                @{
                    foreach (var formType in Model.FormTypes)
                    {
                        <option value="@formType.FormTypeId">@formType.FormTypeName</option>
                    }
                }
            </select>
            <label asp-for="Input.FormTypeId" class="form-label"></label>
        </div>
        <div class="form-floating">
            <select asp-for="Input.EmployeeId" class="form-control" aria-required="true">
                <option value="">Select the employee</option>
                @{
                    foreach (var employee in Model.Employees)
                    {
                        <option value="@employee.EmployeeId">@employee.EmployeeName</option>
                    }
                }
            </select>
            <label asp-for="Input.EmployeeId" class="form-label"></label>
        </div>
        <div class="form-floating">
            <select asp-for="Input.DepartmentId" class="form-control" aria-required="true">
                <option value="">Select the Department</option>
                @{
                    foreach (var department in Model.Departments)
                    {
                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                    }
                }
            </select>
            <label asp-for="Input.DepartmentId" class="form-label"></label>
        </div>
        <div class="form-floating">
            <select asp-for="Input.Status" class="form-control" aria-required="true">
                <option value="">Select the Status</option>
                @{
                    foreach (var status in Model.Status)
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
            <label asp-for="Input.Status" class="form-label"></label>
        </div>
    </form>
</div>


<div class="mt-5 table-responsive table-striped">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5%">Id</th>
                <th style="width: 18%">Form Type</th>
                <th style="width: 18%">Department</th>
                <th style="width: 18%">Employee</th>
                <th style="width: 18%">Date</th>
                <th style="width: 18%">Status</th>
                <th style="width: 5%"></th>
            </tr>
        </thead>
        <tbody>
        @{
            string tableColor = "bg-primary bg-gradient";
            foreach (var form in Model.Forms)
            {
                switch (form.Status)
                {
                    case "Open":
                        tableColor = "table-primary";
                        <tr id="trForm@{@form.FormId}"
                            class="accordion-toggle collapsed @tableColor" 
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseForm@{@form.FormId}"
                            aria-expanded="false"
                            aria-controls="flush-collapseThree">

                            <td scope="row">@form.FormId</td>
                            <td>@form.FormType.FormTypeName</td>
                            <td>@form.Employee.Department.DepartmentName</td>
                            <td>@form.Employee.EmployeeName</td>
                            <td>@form.FormDate.Value.Date.ToShortDateString()</td>
                            <td id="tdStatus@{@form.FormId}">@form.Status</td>
                            <td id="expand@{@form.FormId}" class="expand-button"></td>
                        </tr>
                        <tr class="hide-table-padding">
                            <td></td>
                            <td colspan="3">
                                <div id="collapseForm@{@form.FormId}" class="accordion-collapse collapse my-3" aria-labelledby="flush-headingThree" data-bs-parent="">
                                    <div class="accordion-body">
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" aria-required="true" value="@form.TypeOfLeave" data-form="@form.FormId" readonly />
                                                        <label class="form-label">Type Of Leave</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" aria-required="true" value="@form.Dates" data-form="@form.FormId" readonly />
                                                        <label class="form-label">Dates</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" aria-required="true" value="@form.Supervisor.Employee.EmployeeName" data-form="@form.FormId" readonly />
                                                        <label class="form-label">Supervisor</label>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" aria-required="true" data-form="@form.FormId" style="min-height: 100px" readonly>@form.Justification</textarea>
                                                        <label class="form-label">Purpose for Leave</label>
                                                    </div>
                                                </div>
                                                @if (!String.IsNullOrEmpty(form.AdditionalRemarks))
                                                {
                                                    <div class="col-12 col-lg-6">
                                                        <div class="form-floating mb-3">
                                                                <textarea class="form-control" aria-required="true" data-form="@form.FormId" style="min-height: 100px" disabled readonly>@form.AdditionalRemarks</textarea>
                                                            <label class="form-label">Addtional Remarks</label>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="mt-4">
                                                    <div class="col-12">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input decision-chk" type="checkbox" value="" id="approveChk@{@form.FormId}" data-form="@form.FormId">
                                                            <label class="form-check-label" for="approveChk@{@form.FormId}">
                                                                Approve
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input decision-chk" type="checkbox" value="" id="disapproveChk@{@form.FormId}" data-form="@form.FormId">
                                                            <label class="form-check-label" for="disapproveChk@{@form.FormId}">
                                                                Disapprove
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6" id="reason-col@{@form.FormId}" hidden>
                                                    <div class="form-floating">
                                                        <textarea class="form-control" aria-required="true" style="min-height: 100px" id="reason@{@form.FormId}" data-form="@form.FormId" maxlength="290">@form.Reason</textarea>
                                                        <label class="form-label">Reason for Disapproval</label>
                                                    </div>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-primary submit" id="submit@{@form.FormId}" data-form="@form.FormId" disabled>Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        break;
                    case "Disapproved":
                        tableColor = "table-danger";
                        <tr id="trForm@{@form.FormId}" class="accordion-toggle collapsed @tableColor">
                            <td scope="row">@form.FormId</td>
                            <td>@form.FormType.FormTypeName</td>
                            <td>@form.Employee.Department.DepartmentName</td>
                            <td>@form.Employee.EmployeeName</td>
                            <td>@form.FormDate.Value.Date.ToShortDateString()</td>
                            <td id="tdStatus@{@form.FormId}">@form.Status</td>
                            <td><i class="bi bi-eye-fill view-form" data-form="@form.FormId"></i></td>
                        </tr>
                        break;
                    case "Approved":
                        tableColor = "table-info";
                        <tr id="trForm@{@form.FormId}" class="accordion-toggle collapsed @tableColor">
                            <td scope="row">@form.FormId</td>
                            <td>@form.FormType.FormTypeName</td>
                            <td>@form.Employee.Department.DepartmentName</td>
                            <td>@form.Employee.EmployeeName</td>
                            <td>@form.FormDate.Value.Date.ToShortDateString()</td>
                            <td id="tdStatus@{@form.FormId}">@form.Status</td>
                            <td><i class="bi bi-eye-fill view-form" data-form="@form.FormId"></i></td>
                        </tr>
                        break;
                    case "Signed":
                        tableColor = "table-success";
                        <tr id="trForm@{@form.FormId}" class="accordion-toggle collapsed @tableColor">
                            <td scope="row">@form.FormId</td>
                            <td>@form.FormType.FormTypeName</td>
                            <td>@form.Employee.Department.DepartmentName</td>
                            <td>@form.Employee.EmployeeName</td>
                            <td>@form.FormDate.Value.Date.ToShortDateString()</td>
                            <td id="tdStatus@{@form.FormId}">@form.Status</td>
                            <td><i class="bi bi-eye-fill view-form" data-form="@form.FormId"></i></td>
                        </tr>
                        break;
                    case "Closed":
                        tableColor = "Secondary";
                        <tr id="trForm@{@form.FormId}" class="accordion-toggle collapsed @tableColor">
                            <td scope="row">@form.FormId</td>
                            <td>@form.FormType.FormTypeName</td>
                            <td>@form.Employee.Department.DepartmentName</td>
                            <td>@form.Employee.EmployeeName</td>
                            <td>@form.FormDate.Value.Date.ToShortDateString()</td>
                            <td id="tdStatus@{@form.FormId}">@form.Status</td>
                            <td><i class="bi bi-eye-fill view-form" data-form="@form.FormId"></i></td>
                        </tr>
                        break;
                }
            }
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function decisionChk() {
            let formId = this.dataset.form
            let id = `#${this.id}`

            if (id == `#disapproveChk${formId}`) {
                if ($(id).prop("checked")) {
                    $(`#approveChk${formId}`).prop("checked", false)
                } 
            }
            else {
                if ($(id).prop("checked")) {
                    $(`#disapproveChk${formId}`).prop("checked", false)
                }   
            }
            if ($(`#disapproveChk${formId}`).prop("checked")) {
                $(`#reason-col${formId}`).attr("hidden", false)
            } else {
                $(`#reason-col${formId}`).attr("hidden", true)
            }
            if (!$(`#disapproveChk${formId}`).prop("checked") && !$(`#approveChk${formId}`).prop("checked")) {
                $(`#submit${formId}`).prop("disabled", true)
            }
            else {
                $(`#submit${formId}`).prop("disabled", false)
            }
        }

        async function send(){
            let formId = this.dataset.form
            if (!$(`#disapproveChk${formId}`).prop("checked") && !$(`#approveChk${formId}`).prop("checked")) {
                return false;
            }
            if ($(`#disapproveChk${formId}`).prop("checked") && $(`#reason${formId}`).val() == "") {
                alert("Provide a reson for the disapproval")
                return false;
            }

            let decision = "";
            let reason = $(`#reason${formId}`).val();
            if ($(`#reason${formId}`).val() == ""){
                reason = null;
            }
            
            let newColorClass = "";
            if ($(`#approveChk${formId}`).prop("checked"))
            {
                decision = "Approve"
                newColorClass = "table-info"
            }
            else{
                decision = "Disapprove"
                newColorClass = "table-danger"
            }

            const url = `/Api/Form/AlterFormSupervisor/${formId}`;
            const data = {
                "Decision": decision,
                "Reason": reason
            }

            try{
                const response = await fetch(url, {
                    method: "PATCH",
                    headers: {
                        "Content-type": "application/json;charset=UTF-8"
                    },
                    body: JSON.stringify(data)
                })

                if(response.status != 200){
                    alert((await response.json()).detail)
                }
                else {
                    var colorClass = $(`#trForm${formId}`).attr('class').split(' ').pop();
                    $(`#tdStatus${formId}`).empty().text(decision);
                    $(`#collapseForm${formId}`).remove();
                    $(`#trForm${formId}`).removeClass();
                    $(`#trForm${formId}`).addClass(newColorClass);
                    $(`#trForm${formId}`).removeData();
                    $(`#expand${formId}`).removeClass();
                    $(`#trForm${formId}`).find(':last-child').html(`<i class="bi bi-eye-fill view-form" data-form="${formId}"></i>`)
                    $(".view-form").on("click", viewForm)
                }
            } catch(e){
                console.log(e)
            }
        }

        $(function(){
            $(".decision-chk").on("change", decisionChk)
            $(".submit").on("click", send)
            $(".view-form").on("click", viewForm)
        })
    </script>
}